body {
  background-color: black;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.left-content {
  display: flex;
}
.left-content img {
  width: 40%;
}
.right-content {
  display: flex;
  gap: 20px;
}
.right-content a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
}
.right-content a:hover {
  color: white;
  background-color: blue;
  border: 2px solid silver;
}


.page-heading{
  display: flex;
  justify-content: center;
}
/* homepage content */

.mydiv {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-direction: row;
}

.my-first-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
}

.my-first-card img {
  width: 100%;
  border-radius: 5px;
}
.my-first-card h1 {
  color: blue;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}
.my-first-card .descreption {
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 15px;
}
.my-first-card .price {
  color: rgb(255, 0, 0);
  margin: 0;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mybutton {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}
.mybutton:hover {
  background-color: black;
  color: white;
}
/* footer style */
.footer{
  display: flex;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 15px;
}
.footer .sec-1{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 40.33%;
}
.footer .sec-1 img{
  width: 100px;
}
.footer .sec-2{
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
   gap: 10px;
}
.footer .sec-2 a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.footer .sec-2 a:hover{
color: black;
background-color: white;
}
.footer .sec-3{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 33.33%;
}

.copyright-sec{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mytable */
.mytable{
  display: flex;
  background-color: black;
  padding: 1rem;
  margin-bottom: 2rem;
}
table{
  border-radius: 15px;
}
tr{
  border-radius: 15px;
}
th{
  color: black;
  background-color: yellow;
  padding: 1rem;
  font-size: 20px;
  font-weight:900;
}

td{
  color: black;
  background-color: aqua;
  padding: 1rem;
  font-size: 16px;
  font-weight:900;
}



/* form */
form{
 display: flex; 
 flex-direction: column;
 padding: 2rem;
 gap: 15px;
}

.column{
  display: flex;
  flex-direction: column;
}
.column label{
  color: aliceblue;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
}

.column input{
  width: 100%;
  height: 30px;
  color: blue;
  font-weight: bold;
}

.column .message-box{
  height: 10rem;
  margin: 0;
}
.message-box::placeholder {
  text-align: left;       /* Ensures left alignment */
  color: black;            /* Optional: style your placeholder */
  margin: 0;
    vertical-align: bottom;

}


/* grid */
.my-flexbox{
  display: flex;
  gap: 5px;
  
}

.my-flexbox .f-card{
  background-color: black;
  padding: 15px;
  flex: auto;
}

.my-grid{
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 display in one line */
  gap: 5px;
}

.g-card{
  background-color:aqua;
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: bold;

}



/* anim-trans */
.anim-trans{
  margin-top: 25px;
  padding: 25px;
  background-color: white;
}
.my-text-trans{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.my-text-trans:hover{
  color: red;
}

.my-text-anim{
  color: red;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 4px solid;
  animation: borderColorChange 4s infinite;
  padding: 15px;
  background-color: aliceblue;
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% {color: black;}
  25% {color: blue;}
  50% {color: green;}
  100% {color: yellow;}
}


@keyframes borderColorChange {
  0% { border-color: brown; }
  100% { border-color: purple; }
}



-text-anim::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}


@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
